# Lecture 6: Simpson's Paradox

Note: This lecture also contained the Monty Hall Problem, but I am already aware and comfortable with this example.

In [1]:
import numpy as np
import pandas as pd

## Part 1. Simpson's Paradox

2 Doctors with 2 types of sugery shown below

In [2]:
df = pd.read_csv("./dat/simpsonsparadox.csv", sep=';')

df

   doctor  surgery  success  number
0       1        1        1      70
1       1        1        0      20
2       1        2        1      10
3       1        2        0       0
4       2        1        1       2
5       2        1        0       8
6       2        2        1      81
7       2        2        0       9

We can see that for the two surgeries, one is relatively difficult and the other is far easier. The 2nd doctor attempts more of the easy ones and the 1st does more of the more difficult ones and has a higher success rate but not as high as with the easier one.

In [3]:
df.query("doctor==1 & success==1")["number"].sum() /df.query("doctor==1")["number"].sum(), df.query("doctor==2 & success==1")["number"].sum() /df.query("doctor==2")["number"].sum()

(0.8, 0.83)

We can see that overall, doctor 2 has a higher success rate than doctor 1 despite doctor 1 having a higher success rate with both individually

This is Simpson's Paradox.

How is this possible?

We can see why via the law of total probability

$$P(A | B) = P(A | B, C) P(C | B) + P(A | B, C^c) P(C^c | B)$$

Here, we cannot just sum the lower level aggregations, we need to multiply them by some terms like $P(C | B)$ and $P(C^c | B)$.

### Conclusion

What we should take from this is that statistics calculated at one aggregation level may not have consistent magnitudes across aggregations.

An example of this by A. Cairo is that smoking reduces one's total lifespan, but if we were to aggregate to the country level then smoking is correlated with increased lifespan, because countries have better health care, overriding the smoking.